.person{
  padding-top: 3%;
  padding-bottom: 3%;
  font-family: 'Noto Sans';
  a{
    text-decoration: none;
    color: black;
  }
  .about{
    text-decoration: none;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
  }
  .userName{
    font-size: 18px;
    color: #777777;
  }
}